@{
    ViewData["Title"] = "Contato";
}

<div class="container">
    <h1 class="mt-5">Contato</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">LinkedIn</h5>
                    <p class="card-text">
                        <a href="https://linkedin.com/in/eduardo-santos-pires-289aa91ab" target="_blank">linkedin.com/in/eduardo-santos-pires-289aa91ab</a>
                    </p>
                    <h5 class="card-title">Github</h5>
                    <p class="card-text">
                        <a href="https://github.com/Eduardo-Pires" target="_blank">github.com/Eduardo-Pires (Portfólio)</a>
                    </p>
                    <h5 class="card-title">Telefone</h5>
                    <p class="card-text">
                        (34) 99267-5506 (Celular)
                    </p>
                    <h5 class="card-title">E-mail</h5>
                    <p class="card-text">
                        <a href="mailto:eduardo.pires.dev@outlook.com">eduardo.pires.dev@outlook.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
